<div class="center">
  <h1>Ajouter un hopital</h1>
  <form name="form" method="post">
    <div class="txt_field">
      <input type="text"  name="nom" [(ngModel)]="hopital.nom" >
      <span></span>
      <label>Nom</label>
    </div>

    <div class="txt_field">
      <input type="text"  name="commune" [(ngModel)]="hopital.commune">
      <span></span>
      <label>Adresse</label>
    </div>
    <div class="txt_field">
      <input type="text"  name="adresse" [(ngModel)]="hopital.adresse">
      <span></span>
      <label>Commune</label>
    </div>

    <div class="txt_field">
      <input type="text"  name="telephone" [(ngModel)]="hopital.telephone">
      <span></span>
      <label>Telephone</label>
    </div> <div class="txt_field">
      <input type="text"  name="id_administrateur"  [(ngModel)]="hopital.id_administrateur">
      <span></span>
      <label>L'adminitrateur</label>
    </div>
    <input type="submit" value="Ajouter" (click)="ajouterHopital()">
    <div class="signup_link">

    </div>
  </form>
</div>
