<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: aliceblue">Liste des hopitaux</a>
    <form class="d-flex">
      <input type="text" class="form-control" placeholder="Rechercher un hôpital" [(ngModel)]="searchTerm" (keyup)="search()">
      <a routerLink="ajouter" class="btn btn-success">Ajouter</a>
    </form>
  </div>
</nav>

<hr>

<table>
  <tr>
    <th>N°</th>
    <th>Matricule</th>
    <th>Hopital</th>
    <th>Adresse</th>
    <th>Commune</th>
    <th>Téléphone</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let hopital of displayedHopitaux; let i = index">
    <td>{{i + 1}}</td>
    <td>{{hopital.numero}}</td>
    <td>{{hopital.nom}}</td>
    <td>{{hopital.adresse}}</td>
    <td>{{hopital.commune}}</td>
    <td>{{hopital.telephone}}</td>
    <td>
      <tr>
        <td style="border:none"><a routerLink="modifier/{{hopital.id}}" class="btn btn-primary">Modifier</a></td>
        <td style="border:none"><a routerLink="delete/{{hopital.id}}" class="btn btn-danger">Supprimer</a></td>
      </tr>
    </td>
  </tr>
</table>

<div *ngIf="displayedHopitaux.length < hopitalList.length">
  <button class="btn btn-primary" (click)="afficherReste()" style="margin-left:45%; margin-top:10px">Afficher le reste</button>
</div>
