table {
  border-collapse: collapse;
  width: 100%;
}

th {
  border:2px solid rgb(8, 239, 212);
  padding: 8px;
  text-align: center;
  font-size: 20px;


}

td {
  border:2px solid rgb(8, 239, 212);
  padding: 8px;
  text-align: center;
  font-size: 17px;

}
