<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">
    <h2 style="color:#023370;"><a [routerLink]="['home']" >E-<span >médical</span></a></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">


      </ul>
      <form class="d-flex " role="search">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active btn" aria-current="page" [routerLink]="['admin/hopital']" >
                 Prise de rdv
            </a>
          </li>



        
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['hopitaux']">
                 Hopitaux
            </a>
          </li>
<li>
            <a [routerLink]="['admin/hopital']" class="btn btn" style="border:none">
              <i class="fa-solid fa-right-from-bracket" style="color:black"></i>
            </a>
          </li>

        </ul>

      </form>
    </div>
  </div>
</nav>
