.navbar{
  height: 50px;
}

span{
  color:rgb(0, 157, 255);
}

 a{
  text-decoration: none;
  color:#023370;
}

.collapse a{
  color:#023370;
  font-size: 20px;
}

.collapse a:hover{
  color:aliceblue;
  background-color: rgb(0, 157, 255);
  border-radius: 5px;

}

.collapse .btn{
  color:rgb(0, 157, 255);
  border: 1px solid rgb(0, 157, 255);
}

.collapse .btn:hover{
  color:aliceblue;
  background-color:rgb(0, 157, 255);


}












