  <!-- Section -->
  <section class="baniere">

    <nav class="navbar navbar-expand-lg bg-primary " style="height: 50px;">
        <div class="container-fluid ">
          <a class="navbar-brand " style="color:aliceblue">Liste des specialités</a>
        </div>
      </nav>
    <hr>
    <table>
        <tr>
          <th>N°</th>
          <th>Hopital</th>
          <th>Adrese</th>
          <th>Commune</th>
          <th>Urgence</th>

        </tr>
        <tr>

            <td>1</td>
            <td>Hopital general de toumodi</td>
            <td>toumodi anader</td>
            <td>toumodi</td>
            <td>1010</td>
          </tr>

          <tr>

            <td>2</td>
            <td>Centre Hospitalier Universitaire de Cocody</td>
            <td>Cocody Saint Jean</td>
            <td>Cocody</td>
            <td>1011</td>
          </tr>


            <tr>

              <td>3</td>
              <td>Clinique médicale La Rosette</td>
              <td>Cocody Angre</td>
              <td>Cocody</td>
              <td>1090</td>
            </tr>
            <tr>
            <td>4</td>
            <td>Hopital general de Koumassi</td>
            <td>Koumassi Aklomianbla</td>
            <td>Koumassi</td>
            <td>3040</td>

          <tr>

            <td>5</td>
            <td>Hopital Marie Therese</td>
            <td>220 logements</td>
            <td>Yamoussoukro</td>
            <td>1111</td>
          </tr>
          <tr>

            <td>6</td>
            <td>Hopital General de Dimbokro</td>
            <td>Djoulakro</td>
            <td>Dimbokro</td>
            <td>2211</td>
          </tr>
          <tr>

            <tr>

              <td>7</td>
              <td>Clinique médicale le Messie</td>
              <td>Marcory zone 4</td>
              <td>Marcory</td>
              <td>3319</td>
            </tr>
            <tr>




      </table>



  </section>

  <!-- cadre -->


<app-medecin></app-medecin>
